<!-- U02v0 -->
<nav class="u02nav ocom-base ocom-responsive">
  <div class="u02" id="u02">
    <div id="u02skip2content" tabindex="-1">
      <ul>
        <li><a aria-label="{{i18n 'Navigate to help center home page'}}" href="/">{{i18n 'Home'}}</a></li>
        <li><a id="u02skip2c" href="#maincontent">{{i18n 'Skip to Content'}}</a></li>
        <li><a id="u02skip2s" href="#skip_to_search_form">{{i18n 'Skip to Search'}}</a></li>
      </ul>
    </div>
    <div class="u02w1">

      <!-- logo -->
      <div class="u02logos" data-trackas="header">
        <div class="u02logow1">
          <a aria-label="{{i18n 'Navigate to Oracle.com home page'}}"  data-trackas="header" class="o_icon" href="https://www.oracle.com" data-lbl="logo">
          </a>
        </div>
      </div>

      <!-- menu -->
      <div class="u02menu" data-trackas="menu">
        <div id="u02main" class="u02mlink">
          <div class="u02mlinkw1">
            <a aria-label="{{i18n 'Site Map main menu'}}" href="/en/menu.html" id="u02menulink" data-lbl="menu">
            </a>
          </div>
        </div>
      </div>

      <!-- local label -->
      <div class="u02local" data-trackas="header">
        <div class="u02localw1">
          <a aria-label="{{i18n 'Navigate to help center home page'}}" id="u02localink" href="/" data-trackas="header" data-lbl="local">
            <span>Help Center</span>
          </a>
        </div>
      </div>

      <!-- search -->
      <div id="u02search" class="u02search" data-trackas="header">
        <form class="u02searchform" name="searchForm" method="get" action="/apps/search/search.jsp?">
          <input aria-hidden="true" type="hidden" name="category" value="all">
          <input type="text" id="txtSearch" class="textcnt autoclear" name="q" placeholder="{{i18n 'Search'}}" aria-label="{{i18n 'Search input text area'}}" autocomplete="off" aria-owns="awesomplete_list_1">
          <input aria-label="{{i18n 'submit search'}}" class="u02searchbttn" type="submit" aria-hidden="true">
        </form>
      </div>

      <!-- tools -->
      <div class="u02tools" data-trackas="header">
        <ul>
          <!-- user tools -->
          <li class="u02mtool u02toolsloggedout">
            <a href="#usermenu" class="u02ticon u02user">
              <span aria-label="{{i18n 'Sign in options'}}" class="u02signin">{{i18n 'Sign In'}}</span>
              <span aria-label="{{i18n 'Account information and options'}}" class="u02signout">{{i18n 'Account'}}</span>
            </a>

            <div class="u02user u02toolpop">
              <div class="u02userin">
                <div class="u02userinw1 u02userloggedin">
                  <div class="u02userinfo">
                    <div class="u02userdata">
                      <a aria-label="{{i18n 'Navigate to my profile'}}" class="u02ulink" href="https://profile.oracle.com/myprofile/account/secure/update-account.jspx?nexturl="> </a>
                    </div>
                  </div>

                  <div class="u02usertools">
                    <div class="u02menucontent">
                      <h5 aria-label="{{i18n 'Oracle account options'}}">{{i18n 'Oracle Account'}}</h5>
                      <!-- LVL 1 -->
                      <div class="u02menu-l1">
                        <ul>
                          <li><a aria-label="{{i18n 'Navigate to my account configurations'}}"  id="u02pfile-acct" href="https://profile.oracle.com/myprofile/account/secure/update-account.jspx?nexturl=" data-lbl="account">{{i18n 'Account'}}</a></li>
                          <li><a aria-label="{{i18n 'Navigate to Help with your oracle account'}}" href="https://www.oracle.com/corporate/contact/help.html" data-lbl="help">{{i18n 'Help'}}</a></li>
                          <li><a aria-label="{{i18n 'Sign out option'}}" href="javascript:sso_sign_out();" id="u02pfile-sout" data-lbl="signout">{{i18n 'Sign Out'}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="u02userinw1 u02userloggedout">
                  <div class="u02usertools">
                    <h5>{{i18n 'Oracle Account'}}</h5>
                    <p>{{i18n 'Manage your account and access personalized content.'}}
                      <a aria-label="{{i18n 'Navigate to create new oracle account'}}" class="u02acclink" href="https://profile.oracle.com/myprofile/account/create-account.jspx">{{i18n 'Sign up for an Oracle Account'}}</a>
                    </p>

                    <div class="u02bttn">
                      <a aria-label="{{i18n 'Navigate to sign in to my account'}}" href="https://www.oracle.com/webapps/redirect/signon?nexturl=" role="button" id="u02pfile-regs" data-lbl="signin">{{i18n 'Sign in to my Account'}}</a>
                    </div>
                  </div>
                </div>

                <div class="u02userinw2">
                  <div class="u02usertools">
                    <h5>{{i18n 'Sign in to Cloud'}}</h5>
                    <p>{{i18n 'Access your cloud dashboard, manage orders, and more.'}}
                      <a aria-label="{{i18n 'Navigate to free cloud platform trial'}}" class="u02acclink" href="{{i18n 'https://www.oracle.com/try-it.html'}}">{{i18n 'Free Cloud Platform Trial'}}</a>
                    </p>

                    <div class="u02bttn">
                      <a aria-label="{{i18n 'Navigate to sign in to cloud'}}" href="https://cloud.oracle.com/sign-in" role="button"  data-lbl="signin">{{i18n 'Sign in to Cloud'}}</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a id="maincontent">&nbsp;</a>
  </div>
</nav>
<!-- /U02v0 -->

	<header>
		<div>
		<h1>{{{title}}}</h1>
		</div>
	</header>

	<main>
		<div>
			<div class="ohc-grid">
				<div>
					<div class="ohc-menu-controls hidden-xs" role="tabpanel">
						<nav>
							<ul class="nav nav-pills nav-stacked" role="tablist">
								{{#if tabtoc}}
                <li class="ohc-menu-control-item active" >
									<a href="#tab-toc" role="button" aria-label="Table of Contents"  class="opener" title="Table of Contents" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-list"></span>
										<span class="ohc-navpill">Table of Contents</span>
									</a>
								</li>
                {{/if}}
								{{#if tabsearch}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-search" role="button" aria-label="Search options" class="opener" title="Search" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-search"></span>
										<span class="ohc-navpill">Search</span>
									</a>
								</li>
								{{/if}}
								{{#if tabdownload}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-download" role="button" aria-label="Download options" class="opener" title="Download" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-download"></span>
										<span class="ohc-navpill">Download</span>
									</a>
								</li>
								{{/if}}
							</ul>
						</nav>
					</div>

					<div class="ohc-menu hidden-xs hidden-print tab-content ">
            {{#if tabtoc}}
						<div role="tabpanel" class="tab-pane fade active in" id="tab-toc">
							{{{tabtoc}}}
						</div>
            {{/if}}
						{{#if tabsearch}}
						<div role="tabpanel" class="tab-pane fade" id="tab-search">
							<h2>Search</h2>
							<form id="search-form" action="/apps/search/search.jsp" method="GET" target="_blank">
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="q" class="form-control" id="search-query" aria-label="Search Query Field" placeholder="Search for...">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-primary" aria-label="Submit Search Query">
												<span class="fa fa-search" aria-hidden="true"></span>
												<span class="sr-only">Search</span>
											</button>
										</span>
									</div>
								</div>
								{{#if book}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-book" value="book">
									<label for="search-scope-book">Search this book</label>
								</div>
								{{/if}}
								{{#if product}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-product" value="product">
									<label for="search-scope-product">Search this product</label>
								</div>
								{{/if}}
                {{#if category}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-category" value="category">
									<label for="search-scope-category">Search this category</label>
								</div>
								{{/if}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-all" value="all">
									<label for="search-scope-all">Search All Documentation</label>
								</div>
							</form>
						</div>
						{{/if}}
						{{#if tabdownload}}
						<div role="tabpanel" class="tab-pane fade" id="tab-download">
							<h2>Download</h2>
							{{#each tabdownload}}
								{{#if_eq type "application/pdf"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">PDF</a> for offline and print</p>{{/if_eq}}
								{{#if_eq type "application/x-mobipocket-ebook"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">Mobi</a> for Amazon Kindle</p>{{/if_eq}}
								{{#if_eq type "application/epub+zip"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">ePub</a> for most mobile devices</p>{{/if_eq}}
								{{#if_eq type "application/swagger+json"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">Swagger</a> for Swagger clients</p>{{/if_eq}}
								{{#if_eq type "application/json"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">JSON</a></p>{{/if_eq}}
								{{#if_eq type "application/xml"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">XML</a></p>{{/if_eq}}
							{{/each}}
						</div>
						{{/if}}
					</div>

					<article role="main">{{{article}}}</article>

					<div><div><!-- resizable column --></div></div>
				</div>
			</div>
		</div>
	</main>


  <div id="u10" class="u10 u10v0" style="position: relative;" data-trackas="footer">
    <div class="frame">
      <div id="feedback">
        <span id="q15751" class="rn_FeedbackQuestionText" style="width:100%; display: inline-block">Was this page helpful?</span>
        <select name="q_15751" id="q_15751" aria-labelledby="q15751" class="buttonOpt hiddenA" style="background-color: rgb(255, 255, 255); display: none;"><option value="" id="blankOption" aria-label="Blank"></option>
          <option value="79344">Yes</option>
          <option value="79345">No</option>
        </select>
        <button value="Yes" class="optBtn" id="optLike" aria-label="Yes"></button>
        <button value="No" class="optBtn" id="optDislike" aria-label="No"></button>
      </div>
    </div>
      <div class="u10w1">
        <div class="u10w5">
          <ul class="u10-links u10-min">
            <li><a target="_blank" aria-label="Open a new window to Oracle legal notices" data-lbl="copyright" href="/pls/topic/lookup?ctx=en/legal&id=cpyr">&#169; Oracle</a></li>
            <li><a target="_blank" aria-label="Open a new window to learn more about oracle" data-lbl="about-oracle" href="https://www.oracle.com/corporate/index.html">About Oracle</a></li>
            <li><a target="_blank" aria-label="Open a new window to contact oracle" data-lbl="contact-us" href="https://www.oracle.com/corporate/contact/">Contact Us</a></li>
            <li><a target="_blank" aria-label="Open a new window to products a-z" data-lbl="products-a-z" href="/en/browseall.html">Products A-Z</a></li>
            <li><a target="_blank" aria-label="Open a new window to read more about oracle terms of use and privacy" data-lbl="terms-of-use-and-privacy" href="https://www.oracle.com/legal/privacy/">Terms of Use & Privacy</a></li>
            <li>
              <div aria-label="Open a new modal to " id="teconsent"></div>
            </li>
            <li class="u10last"><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12">Ad Choices</a></li>
          </ul>
        </div>
      </div>
  </div>


<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
		<li class="previous disabled">
			<a role="button" class="btn" aria-label="Previous" aria-hidden="true">
				<span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
			</a>
		</li>
		<li class="toc visible-xs-inline">
			<a type="button" class="btn" aria-label="Table of contents" href="toc.htm">
				<span class="fa fa-list-alt" aria-hidden="true"></span><span class="sr-only">Table of contents</span>
			</a>
		</li>
		<li class="next disabled">
			<a role="button" class="btn" aria-label="Next" aria-hidden="true">
				<span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
