<div id="u10" class="u10 u10v0 " style="position: relative;" data-trackas="footer">
  <div class="frame">
    <div id="feedback">
      <span id="q15751" class="rn_FeedbackQuestionText" style="width:100%; display: inline-block">Was this page helpful?</span>
      <select name="q_15751" id="q_15751" aria-labelledby="q15751" class="buttonOpt hiddenA" style="background-color: rgb(255, 255, 255); display: none;"><option value="" id="blankOption" aria-label="Blank"></option>
        <option value="79344">Yes</option>
        <option value="79345">No</option></select>
      <button value="Yes" class="optBtn" id="optLike" aria-label="Yes"></button>
      <button value="No" class="optBtn" id="optDislike" aria-label="No"></button>
    </div>
  </div>

  <div class="u10w1">
    <div class="u10w5">
      <ul class="u10-links u10-min">
        <li><a target="_blank" aria-label="Open a new window to Oracle legal notices" data-lbl="copyright" href="{{i18n 'https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr'}}">&#169; Oracle</a></li>
        <li><a target="_blank" aria-label="Open a new window to learn more about oracle" data-lbl="about-oracle" href="{{i18n 'https://www.oracle.com/corporate/'}}">{{i18n 'About Oracle'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to contact oracle" data-lbl="contact-us" href="{{i18n 'https://www.oracle.com/corporate/contact/'}}">{{i18n 'Contact Us'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to products a-z" data-lbl="products-a-z" href="/en/browseall.html">Products A-Z</a></li>
        <li><a target="_blank" aria-label="Open a new window to read more about oracle terms of use and privacy" data-lbl="terms-of-use-and-privacy" href="{{i18n 'https://www.oracle.com/legal/privacy/'}}">{{i18n 'Terms of Use & Privacy'}}</a></li>
        <li>
          <div aria-label="Open a new modal to " id="teconsent"></div>
        </li>
        {{#if_mt}}
        <li><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        <li class="u10last"><a href="{{i18n 'translation-survey'}}" onclick="window.open('{{i18n 'translation-survey'}}', '{{i18n 'Machine Translation Feeback Form'}}', 'width=600,height=480');return false;">{{i18n 'Machine Translation Feedback'}}</a></li>
        {{else}}
        <li class="u10last"><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        {{/if_mt}}
      </ul>
    </div>
  </div>
</div>
