<!-- U02v0 -->
<nav class="u02nav ocom-base ocom-responsive">
  <div class="u02" id="u02">
    <div id="u02skip2content" tabindex="-1">
      <ul>
        <li><a aria-label="{{i18n 'Navigate to help center home page'}}" href="/">{{i18n 'Home'}}</a></li>
        <li><a id="u02skip2c" href="#maincontent">{{i18n 'Skip to Content'}}</a></li>
        <li><a id="u02skip2s" href="#skip_to_search_form">{{i18n 'Skip to Search'}}</a></li>
      </ul>
    </div>
    <div class="u02w1">

      <!-- logo -->
      <div class="u02logos" data-trackas="header">
        <div class="u02logow1">
          <a aria-label="{{i18n 'Navigate to Oracle.com home page'}}" data-trackas="header" class="o_icon" href="https://www.oracle.com" data-lbl="logo">
          </a>
        </div>
      </div>

      <!-- menu -->
      <div class="u02menu" data-trackas="menu">
        <div id="u02main" class="u02mlink">
          <div class="u02mlinkw1">
            <a aria-label="{{i18n 'Site Map main menu'}}" href="/en/menu.html" id="u02menulink" data-lbl="menu">
            </a>
          </div>
        </div>
      </div>

      <!-- local label -->
      <div class="u02local" data-trackas="header">
        <div class="u02localw1">
          <a aria-label="{{i18n 'Navigate to help center home page'}}" id="u02localink" href="/" data-trackas="header" data-lbl="local">
            <span>Help Center</span>
          </a>
        </div>
      </div>

      <!-- search -->
      <div id="u02search" class="u02search" data-trackas="header">
        <form class="u02searchform" name="searchForm" method="get" action="/apps/search/search.jsp?">
          <input aria-hidden="true" type="hidden" name="category" value="all">
          <input type="text" id="txtSearch" class="textcnt autoclear" name="q" placeholder="{{i18n 'Search'}}" aria-label="{{i18n 'Search input text area'}}" autocomplete="off" aria-owns="awesomplete_list_1">
          <input aria-label="{{i18n 'submit search'}}" class="u02searchbttn" type="submit" aria-hidden="true">
        </form>
      </div>

      <!-- tools -->
      <div class="u02tools" data-trackas="header">
        <ul>
          <!-- user tools -->
          <li class="u02mtool u02toolsloggedout">
            <a href="#usermenu" class="u02ticon u02user">
              <span aria-label="{{i18n 'Sign in options'}}" class="u02signin">{{i18n 'Sign In'}}</span>
              <span aria-label="{{i18n 'Account information and options'}}" class="u02signout">{{i18n 'Account'}}</span>
            </a>

            <div class="u02user u02toolpop">
              <div class="u02userin">
                <div class="u02userinw1 u02userloggedin">
                  <div class="u02userinfo">
                    <div class="u02userdata">
                      <a aria-label="{{i18n 'Navigate to my profile'}}" class="u02ulink" href="https://profile.oracle.com/myprofile/account/secure/update-account.jspx?nexturl="> </a>
                    </div>
                  </div>

                  <div class="u02usertools">
                    <div class="u02menucontent">
                      <h5 aria-label="{{i18n 'Oracle account options'}}">{{i18n 'Oracle Account'}}</h5>
                      <!-- LVL 1 -->
                      <div class="u02menu-l1">
                        <ul>
                          <li><a aria-label="{{i18n 'Navigate to my account configurations'}}"  id="u02pfile-acct" href="https://profile.oracle.com/myprofile/account/secure/update-account.jspx?nexturl=" data-lbl="account">{{i18n 'Account'}}</a></li>
                          <li><a aria-label="{{i18n 'Navigate to Help with your oracle account'}}" href="https://www.oracle.com/corporate/contact/help.html" data-lbl="help">{{i18n 'Help'}}</a></li>
                          <li><a aria-label="{{i18n 'Sign out option'}}" href="javascript:sso_sign_out();" id="u02pfile-sout" data-lbl="signout">{{i18n 'Sign Out'}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="u02userinw1 u02userloggedout">
                  <div class="u02usertools">
                    <h5>{{i18n 'Oracle Account'}}</h5>
                    <p>{{i18n 'Manage your account and access personalized content.'}}
                      <a aria-label="{{i18n 'Navigate to create new oracle account'}}" class="u02acclink" href="https://profile.oracle.com/myprofile/account/create-account.jspx">{{i18n 'Sign up for an Oracle Account'}}</a>
                    </p>

                    <div class="u02bttn">
                      <a aria-label="{{i18n 'Navigate to sign in to my account'}}" href="https://www.oracle.com/webapps/redirect/signon?nexturl=" role="button" id="u02pfile-regs" data-lbl="signin">{{i18n 'Sign in to my Account'}}</a>
                    </div>
                  </div>
                </div>

                <div class="u02userinw2">
                  <div class="u02usertools">
                    <h5>{{i18n 'Sign in to Cloud'}}</h5>
                    <p>{{i18n 'Access your cloud dashboard, manage orders, and more.'}}
                      <a aria-label="{{i18n 'Navigate to free cloud platform trial'}}" class="u02acclink" href="{{i18n 'https://www.oracle.com/try-it.html'}}">{{i18n 'Free Cloud Platform Trial'}}</a>
                    </p>

                    <div class="u02bttn">
                      <a aria-label="{{i18n 'Navigate to sign in to cloud'}}" href="https://cloud.oracle.com/sign-in" role="button"  data-lbl="signin">{{i18n 'Sign in to Cloud'}}</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- country select -->
          <li class="u02mtool" id="u02cmenu">
              <a aria-label="{{i18n 'Language options'}}" href="/sp_common/site-template/ohc-common/menu-content/lang-{{i18n 'dir'}}.html#u02countrymenu" class="u02ticon u02regn">
                  <span>{{i18n 'Language'}}</span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <a id="maincontent">&nbsp;</a>
  </div>
</nav>
<!-- /U02v0 -->

<div class="page-container">
    <div id="hero-blue">
        <div class="container">
            <!-- <img class="pull-right hidden-xs hidden-sm" src="/en/dcommon/img/4-cloud.png" alt="" aria-hidden="true"> -->
            {{#if_inspired}}
            <div class="row">
              <div class="col-lg-9"><h1>{{{title}}}</h1></div>
              <div class="col-lg-3"><span class="winspired">{{i18n 'CUSTOMER-INSPIRED'}}</span></div>
            </div>
            {{else}}
            <h1>{{{title}}}</h1>
            {{/if_inspired}}
        </div>
    </div>



    <main class="container">
    <div id="content-row" class="row">

        <div id="fixed-menu" class="col-md-4 col-xl-3 hidden-xs hidden-sm hidden-print">
                <div style="margin-top: 16px; margin-bottom: 16px;">
                    <a id="solutions-back-link" href="/{{i18n 'dir'}}/solutions/index.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{i18n 'Back to Solutions'}}</a>
                </div>
                {{#if_mt}}<p class="text-center"><b>{{i18n 'This page was machine translated.'}}</b></p>{{/if_mt}}
                <div id="tab-toc">
                    <p class="text-center">
                        <span class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </p>
                </div>
                {{#if tabdownload}}
                <ul class="list-inline text-right hidden-xs" style="margin-top:16px;">{{#each tabdownload}}<!--
                 -->{{#if_eq type "application/pdf"}}<li><a aria-label="{{title}} PDF" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-pdf-o" aria-hidden="true" title="PDF"></i><span class="sr-only">PDF</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/x-mobipocket-ebook"}}<li><a aria-label="{{title}} Mobi" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-text-o" aria-hidden="true" title="Mobi"></i><span class="sr-only">Mobi</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/epub+zip"}}<li><a aria-label="{{title}} ePub" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-text-o" aria-hidden="true" title="ePub"></i><span class="sr-only">ePub</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/swagger+json"}}<li><a aria-label="{{title}} Swagger" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-o" aria-hidden="true" title="Swagger"></i><span class="sr-only">Swagger</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/json"}}<li><a aria-label="{{title}} JSON" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-o" aria-hidden="true" title="JSON"></i><span class="sr-only">JSON</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/xml"}}<li><a aria-label="{{title}} XML" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-code-o" aria-hidden="true" title="XML"></i><span class="sr-only">XML</span></a></li>{{/if_eq}}<!--
                 -->{{/each}}</ul>
                {{/if}}
        </div>

        <div class="col-md-8 col-xl-9">
            <article role="main">{{{article}}}</article>{{#if disclaimers}}
            <div id="disclaimers">{{{disclaimers}}}</div>{{/if}}
        </div>
    </div>
    </main>


</div>

<div id="u10" class="u10 u10v0 " style="position: relative;" data-trackas="footer">
  <div class="frame">
    <div id="feedback">
      <span aria-label="Was this page helpful?" id="q15751" class="rn_FeedbackQuestionText" style="width:100%; display: inline-block">Was this page helpful?</span>
      <select name="q_15751" id="q_15751" aria-labelledby="q15751" class="buttonOpt hiddenA" style="background-color: rgb(255, 255, 255); display: none;"><option value="" id="blankOption" aria-label="Blank"></option>
        <option value="79344">Yes</option>
        <option value="79345">No</option>
      </select>
      <button value="Yes" class="optBtn optBtnLike" aria-label="Open a pop-up to give a feedback about this page for being helpful">
        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'>
          <path d='M1383.786,1023.807a20.261,20.261,0,0,0-.015-2.276,5.034,5.034,0,0,1,1.1-3.782,5.911,5.911,0,0,0,1.329-4.6c-.115-.828.285-1.084,1.123-.9a2.936,2.936,0,0,1,1.976,2.8,9.158,9.158,0,0,1-.061,1.864c-.067.462.06.568.488.563,1.224-.017,2.449-.025,3.672,0,1.751.033,2.385,1.168,1.454,2.632-.2.317-.044.4.118.589.8.914.721,1.608-.271,2.3-.253.176-.389.249-.2.609a1.255,1.255,0,0,1-.643,1.881c-.362.2-.491.321-.346.786a1.63,1.63,0,0,1-1.466,1.955c-2.584.043-5.17.01-7.755.027-.48,0-.507-.253-.5-.619C1383.793,1026.356,1383.786,1025.081,1383.786,1023.807Z' transform='translate(-1379.24 -1012.19)'/>
          <path d='M1383.256,1023.612c0,1.523-.02,3.048.012,4.571.011.505-.137.664-.64.64-.787-.039-1.578-.021-2.366,0-.382.009-.591-.046-.588-.518q.029-4.735,0-9.469c0-.393.131-.521.517-.511.842.021,1.687.03,2.529,0,.442-.017.549.142.543.56-.021,1.577-.008,3.156-.008,4.734Z' transform='translate(-1379.674 -1011.512)'/>
        </svg>
      </button>
      <button value="No" class="optBtn optBtnDislike" aria-label="Open a pop-up to give a feedback about this page for not being helpful">
        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'>
          <path d='M1433.208,1020.159a20.637,20.637,0,0,0,.016,2.284,5.114,5.114,0,0,1-1.088,3.8,5.989,5.989,0,0,0-1.313,4.621c.114.83-.282,1.087-1.111.9a2.943,2.943,0,0,1-1.952-2.808,9.412,9.412,0,0,1,.061-1.87c.066-.463-.06-.57-.483-.563-1.209.017-2.419.023-3.628,0-1.728-.034-2.355-1.172-1.435-2.641.2-.317.043-.4-.117-.591-.788-.917-.713-1.613.268-2.307.25-.177.385-.251.2-.613a1.266,1.266,0,0,1,.634-1.886c.357-.2.486-.323.342-.788a1.633,1.633,0,0,1,1.45-1.963c2.553-.041,5.107-.01,7.66-.026.475,0,.5.253.5.622C1433.2,1017.6,1433.208,1018.88,1433.208,1020.159Z' transform='translate(-1421.622 -1014.462)'/>
          <path d='M1433,1019.734c0-1.506.021-3.011-.012-4.517-.01-.5.135-.657.632-.633.778.039,1.559.022,2.338,0,.377-.009.584.045.582.512-.02,3.119-.016,6.239,0,9.358,0,.387-.131.514-.511.5-.833-.022-1.667-.03-2.5,0-.437.018-.542-.141-.537-.552.021-1.559.009-3.119.009-4.678Z' transform='translate(-1420.233 -1014.582)' fill='%23f7f7f7'/>
        </svg>
      </button>
    </div>
  </div>

  <div class="u10w1">
    <div class="u10w5">
      <ul class="u10-links u10-min">
        <li><a target="_blank" aria-label="Open a new window to Oracle legal notices" data-lbl="copyright" href="{{i18n 'https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr'}}">&#169; Oracle</a></li>
        <li><a target="_blank" aria-label="Open a new window to learn more about oracle" data-lbl="about-oracle" href="{{i18n 'https://www.oracle.com/corporate/'}}">{{i18n 'About Oracle'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to contact oracle" data-lbl="contact-us" href="{{i18n 'https://www.oracle.com/corporate/contact/'}}">{{i18n 'Contact Us'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to products a-z" data-lbl="products-a-z" href="/en/browseall.html">Products A-Z</a></li>
        <li><a target="_blank" aria-label="Open a new window to read more about oracle terms of use and privacy" data-lbl="terms-of-use-and-privacy" href="{{i18n 'https://www.oracle.com/legal/privacy/'}}">{{i18n 'Terms of Use & Privacy'}}</a></li>
        <li>
          <div aria-label="Open a new modal to " id="teconsent"></div>
        </li>
        {{#if_mt}}
        <li><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        <li class="u10last"><a href="{{i18n 'translation-survey'}}" onclick="window.open('{{i18n 'translation-survey'}}', '{{i18n 'Machine Translation Feeback Form'}}', 'width=600,height=480');return false;">{{i18n 'Machine Translation Feedback'}}</a></li>
        {{else}}
        <li class="u10last"><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        {{/if_mt}}
      </ul>
    </div>
  </div>
</div>


<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
		<li class="previous disabled">
			<a role="button" class="btn" aria-label="{{i18n 'Previous'}}" aria-hidden="true">
				<span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">{{i18n 'Previous'}}</span>
			</a>
		</li>
        <li class="toc visible-xs-inline visible-sm-inline">
            <a role="button" class="btn" aria-label="{{i18n 'Table of contents'}}" href="toc.htm">
                <span class="fa fa-list-alt" aria-hidden="true"></span><span class="sr-only">{{i18n 'Table of contents'}}</span>
            </a>
        </li>
		<li class="next disabled">
			<a role="button" class="btn" aria-label="{{i18n 'Next'}}" aria-hidden="true">
				<span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">{{i18n 'Next'}}</span>
			</a>
		</li>
	</ul>
</nav>
