<div id="u10" class="u10 u10v0 " style="position: relative;" data-trackas="footer">
  <div class="frame">
    <div id="feedback">
      <span aria-label="Was this page helpful?" id="q15751" class="rn_FeedbackQuestionText" style="width:100%; display: inline-block">Was this page helpful?</span>
      <select name="q_15751" id="q_15751" aria-labelledby="q15751" class="buttonOpt hiddenA" style="background-color: rgb(255, 255, 255); display: none;"><option value="" id="blankOption" aria-label="Blank"></option>
        <option value="79344">Yes</option>
        <option value="79345">No</option></select>
        <button value="Yes" class="optBtn optBtnLike" aria-label="Open a pop-up to give a feedback about this page for being helpful">
          <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'>
            <path d='M1383.786,1023.807a20.261,20.261,0,0,0-.015-2.276,5.034,5.034,0,0,1,1.1-3.782,5.911,5.911,0,0,0,1.329-4.6c-.115-.828.285-1.084,1.123-.9a2.936,2.936,0,0,1,1.976,2.8,9.158,9.158,0,0,1-.061,1.864c-.067.462.06.568.488.563,1.224-.017,2.449-.025,3.672,0,1.751.033,2.385,1.168,1.454,2.632-.2.317-.044.4.118.589.8.914.721,1.608-.271,2.3-.253.176-.389.249-.2.609a1.255,1.255,0,0,1-.643,1.881c-.362.2-.491.321-.346.786a1.63,1.63,0,0,1-1.466,1.955c-2.584.043-5.17.01-7.755.027-.48,0-.507-.253-.5-.619C1383.793,1026.356,1383.786,1025.081,1383.786,1023.807Z' transform='translate(-1379.24 -1012.19)'/>
            <path d='M1383.256,1023.612c0,1.523-.02,3.048.012,4.571.011.505-.137.664-.64.64-.787-.039-1.578-.021-2.366,0-.382.009-.591-.046-.588-.518q.029-4.735,0-9.469c0-.393.131-.521.517-.511.842.021,1.687.03,2.529,0,.442-.017.549.142.543.56-.021,1.577-.008,3.156-.008,4.734Z' transform='translate(-1379.674 -1011.512)'/>
          </svg>
        </button>
        <button value="No" class="optBtn optBtnDislike" aria-label="Open a pop-up to give a feedback about this page for not being helpful">
          <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'>
            <path d='M1433.208,1020.159a20.637,20.637,0,0,0,.016,2.284,5.114,5.114,0,0,1-1.088,3.8,5.989,5.989,0,0,0-1.313,4.621c.114.83-.282,1.087-1.111.9a2.943,2.943,0,0,1-1.952-2.808,9.412,9.412,0,0,1,.061-1.87c.066-.463-.06-.57-.483-.563-1.209.017-2.419.023-3.628,0-1.728-.034-2.355-1.172-1.435-2.641.2-.317.043-.4-.117-.591-.788-.917-.713-1.613.268-2.307.25-.177.385-.251.2-.613a1.266,1.266,0,0,1,.634-1.886c.357-.2.486-.323.342-.788a1.633,1.633,0,0,1,1.45-1.963c2.553-.041,5.107-.01,7.66-.026.475,0,.5.253.5.622C1433.2,1017.6,1433.208,1018.88,1433.208,1020.159Z' transform='translate(-1421.622 -1014.462)'/>
            <path d='M1433,1019.734c0-1.506.021-3.011-.012-4.517-.01-.5.135-.657.632-.633.778.039,1.559.022,2.338,0,.377-.009.584.045.582.512-.02,3.119-.016,6.239,0,9.358,0,.387-.131.514-.511.5-.833-.022-1.667-.03-2.5,0-.437.018-.542-.141-.537-.552.021-1.559.009-3.119.009-4.678Z' transform='translate(-1420.233 -1014.582)' fill='%23f7f7f7'/>
          </svg>
        </button>
    </div>
  </div>

  <div class="u10w1">
    <div class="u10w5">
      <ul class="u10-links u10-min">
        <li><a target="_blank" aria-label="Open a new window to Oracle legal notices" data-lbl="copyright" href="{{i18n 'https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr'}}">&#169; Oracle</a></li>
        <li><a target="_blank" aria-label="Open a new window to learn more about oracle" data-lbl="about-oracle" href="{{i18n 'https://www.oracle.com/corporate/'}}">{{i18n 'About Oracle'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to contact oracle" data-lbl="contact-us" href="{{i18n 'https://www.oracle.com/corporate/contact/'}}">{{i18n 'Contact Us'}}</a></li>
        <li><a target="_blank" aria-label="Open a new window to products a-z" data-lbl="products-a-z" href="/en/browseall.html">Products A-Z</a></li>
        <li><a target="_blank" aria-label="Open a new window to read more about oracle terms of use and privacy" data-lbl="terms-of-use-and-privacy" href="{{i18n 'https://www.oracle.com/legal/privacy/'}}">{{i18n 'Terms of Use & Privacy'}}</a></li>
        <li>
          <div aria-label="Open a new modal to " id="teconsent"></div>
        </li>
        {{#if_mt}}
        <li><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        <li class="u10last"><a href="{{i18n 'translation-survey'}}" onclick="window.open('{{i18n 'translation-survey'}}', '{{i18n 'Machine Translation Feeback Form'}}', 'width=600,height=480');return false;">{{i18n 'Machine Translation Feedback'}}</a></li>
        {{else}}
        <li class="u10last"><a target="_blank" aria-label="Open a new window to ad choices"  data-lbl="ad-choices" href="{{i18n 'https://www.oracle.com/legal/privacy/marketing-cloud-data-cloud-privacy-policy.html#12'}}">{{i18n 'Ad Choices'}}</a></li>
        {{/if_mt}}
      </ul>
    </div>
  </div>
</div>
